@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Manrope', sans-serif;
  background-color: $black-cofee;
}

button, a {
  cursor: pointer;
  border: 0;
  background: transparent;
}

.home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5%;

  .main-heading {
    color: $chrome-yellow;
    font-weight: 800;
    text-align: center;
    font-size: 25vh;
    position: absolute;
    top: -12%;
    left: -4%;
    z-index: -1;
    overflow: hidden;
  }

  .home-buttons {
    // width: 36vw;
    display: flex;
    flex-direction: column;
  }
}

.create-cards {
  width: 100%;
  height: 100vh;

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;

    .card-form {
      width: 60%;
      height: 72Vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .question-input, .answer-input {
        width: 100%;
        font-family: Manrope;
        font-size: 1.25rem;
        font-weight: 400;
        border-bottom: 2px solid white;
      }
    }
  }
  input {
    color: white;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .create-cards-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
    align-items: center;

    .cards-counter {
      width: 300px;
      color: white;
      font-size: 3rem;
      font-weight: 900;
    }
  }
}

.action-btn {
  color: white;
  background-color: $olive-drab;
  cursor: pointer;
  font-weight: 600;
  font-size: 2.5rem;
  width: 20vw;
  height: 14vh;
  margin-top: 2rem;
  outline: none;
  border: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.card-form-heading {
  color: $chrome-yellow;
  font-size: 3rem;
  font-weight: 900;
}

.cardset-title-input {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 900;
  width: 40%;
  line-height: 1;
  height: 2.5rem;

  &::placeholder {
    color: white;
    font-size: 2rem;
    font-weight: 900;
  }
}

.create-set-button {
  background-color: transparent;
  color: white;
  font-size: 2rem;
  outline: none;
  border: 0;
  font-weight: 900;
}